body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: url("../../images/التحصيل\ اليومي.jpg");
    background-repeat:no-repeat;
    background-size: cover;
  }
  .container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(78, 39, 39, 0.1);
  }
    
    #logo {
      width: 50px;
      margin-top: -8px;
    }
.form-group {
    margin-bottom: 20px;
  }
  .form-group input[type="date"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
     } 
     .form-group button {
        background-color: #4CAF50;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
      }
        
      .form-group button:hover {
        background-color: #45a049;
      }
        footer {
          height: 50px;
          background-color: #f2f2f2;
          position: relative;
          margin-top: 35%;
          clear: both;
        }