body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    background-image: url("../../images/الشحنة.jpg");
      background-repeat: no-repeat;
      background-size: cover;
  }
  
  .container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
    #logo {
      width: 50px;
      margin-top: -8px;
    }
  .form-group input[type="text"],
  .form-group input[type="number"],
  .form-group input[type="date"],
  .form-group input[type="select"],
  .form-group input[type="email"],
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  select{
  width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 4px;
  }
  
  .form-group textarea {
    resize: vertical;
    height: 100px;
  }
  
  .form-group button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-group button:hover {
    background-color: #45a049;
  }
    footer {
      height: 50px;
      background-color: #f2f2f2;
      position: relative;
      margin-top: 35%;
      clear: both;
    }